.header {
    color: azure;   
    background-color: lightslategray;
    font-size: 25px;
    text-align: center;
}

.header nav ul {
    list-style-type: none;  
}

.header nav ul li {
    display: inline-block;
    padding: 0 1em;
}

a {
    color: azure;
    text-decoration: none;
}

footer {
    background-color: lightslategray;
    color: azure;
}

footer nav ul {
    list-style: none;
}

footer nav ul li {
    display: inline-block;
    padding: 0 1em; 
}

section ul li {
list-style: none;
}
